*.gem
*.rbc
*~
.bundle
.config
.yardoc
/vendor
Gemfile.lock
gemfiles/*.lock
gemfiles/vendor
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version
spec/dummy_app/log/*.log
